@{
    ViewBag.Title = "Blog";
    Layout = "_Layout";
}

<div class="breadcrumb-area bg-img" style="background-image:url('@Url.Content("~/Client/assets/images/bg/breadcrumb.jpg")');">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2>5 Smartfonët më të mirë në 2022</h2>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">Ballina</a>
                </li>
                <li class="active">Blog details</li>
            </ul>
        </div>
    </div>
</div>
<div class="blog-details-area pt-90 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="blog-details-wrap">
                    <div class="blog-details-img mb-40">
                        <img src="~/Client/assets/images/blog/iphone13-2048px-9787-2x1-1.jpg" alt="blog">
                    </div>
                    <div class="row">
                        <div class="col-xl-2 col-lg-2">
                            <div class="blog-details-author">
                                <h4><span>nga</span>
                                    Albin Halitaj,<br>
                                    Hajrullah Abdullahu<br>
                                    Prishtine
                                </h4>
                                <div class="author-social">
                                    <ul>
                                        <li><a class="facebook" href="#"><i class=" ti-facebook"></i></a></li>
                                        <li><a class="twitter" href="#"><i class=" ti-twitter-alt"></i></a></li>
                                        <li><a class="google" href="#"><i class=" ti-google "></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-10">
                            <h1>Smartfonët më të mirë në 2022</h1>
                            <div class="blog-details-content">
                                <p class="mb-35">Nuk ka asnjë smartphone që është më i miri për të gjithë, por ne kemi shpenzuar qindra orë duke testuar shumë telefona në mënyrë që të gjeni më të mirën për ju.</p>
                                <p>Telefoni që blini do të varet nga buxheti juaj, operatori juaj celular dhe se cila nga platformat kryesore të telefonave inteligjentë - iOS e Apple ose Android e Google - keni investuar tashmë. Por nëse doni një telefon të nivelit të lartë apo diçka tjetër më të përballueshme, ne kemi rekomandime për iPhone dhe Android, dhe të gjitha zgjedhjet tona janë të disponueshme për të gjithë operatorët kryesorë.</p>
                                <blockquote>
                                    <img src="~/Client/assets/images/icon-img/blockquote.png" alt="blog">
                                    <h3>Për sa kohë që keni një celular, nuk jeni kurrë vetëm</h3>
                                    <p>Stanley Victor Paskavich</p>
                                </blockquote>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-12 pl-215 pr-445"> 
                            <div class="blog-details-content">
                                <p class="mb-80"></p>
                                <div class="place">
                                    <h3>1. Apple iPhone 13 Pro</h3>
                                    <div class="blog-details-img pt-50 pb-50">
                                        <img src="~/Client/assets/images/blog/iphone13pro.jpg" style="object-fit: contain; width: 500px" alt="blog">
                                    </div>
                                    <p>iPhone 13 Pro është një përmirësim i mirëpritur për vëllazërinë e përmbajtjes krijuese. 
                                        Ka një kamerë më të mirë me zmadhim optik 3x, jetëgjatësi më të madhe të baterisë dhe një ekran me shpejtësi 
                                        më të lartë të rifreskimit. Është shumë i ngjashëm me telefonat më të fundit Pro të Apple me një dizajnprej 
                                        çeliku inox dhe xhami, përveç se ka një përplasje më të madhe të kamerës në pjesën e pasme dhe një ekran më 
                                        të ndritshëm. iPhone 13 Pro përdor gjithashtu procesorin A15 Bionic të zhvilluar së fundmi nga Apple, duke e
                                        bërë atë një nga telefonat më të fuqishëm në treg. Ky procesor ka pesë bërthama në vend të katër të zakonshmeve 
                                        në mini 13 dhe 13, duke e bërë të lehtë luajtjen e lojërave, modifikimin e videove dhe fotove dhe hapjen e një sërë 
                                        aplikacionesh në të njëjtën kohë. iPhone 13 Pro mund ta porositni në platformën tonë duke klikuar <a href="/product/apple-iphone-13-pro-5g-265gb-sierra-blue" target="_blank" style="color: blue;text-decoration: underline">këtu</a>
                                    </p>
                                </div>
                            </div>
                            <div class="blog-details-content">
                                <p class="mb-80"></p>
                                <div class="place">
                                    <h3>2. Samsung Galaxy S21 Ultra 5G</h3>
                                    <div class="blog-details-img pt-50 pb-50">
                                        <img src="~/Client/assets/images/blog/samsungs21.jpg" style="object-fit: contain; width: 700px" alt="blog">
                                    </div>
                                    <p>Nëse do të kishit parashikuar shumë ndryshime për Galaxy S21, mund të ishit të zhgënjyer sepse Samsung vendosi të shtojë 
                                        disa përmirësime dhe të fokusohet më shumë në S21 Ultra.  S21 ende funksionon në çipin e ri Qualcomm Snapdragon 888,
                                        por prezanton shumë veçori të reja. Ajo që bie në sy është kamera 108MP e cila mund të kapë fotografi 12-bit HDR.
                                        Është gjithashtu i pajisur me lente telefoto me zmadhim optik 10x dhe 3x për t'ju ndihmuar të bëni fotografi më të 
                                        qëndrueshme vetëm me një shtypje të një butoni. Modaliteti Portret është përmirësuar gjithashtu pasi Samsung përdor 
                                        AI për të ndarë sfondin nga subjekti.</p>
                                </div>
                            </div>
                            <div class="blog-details-content">
                                <p class="mb-80"></p>
                                <div class="place">
                                    <h3>3. Google Pixel 6 Pro</h3>
                                    <div class="blog-details-img pt-50 pb-50">
                                        <img src="~/Client/assets/images/blog/googlepixiel6pro.jpg" style="object-fit: contain; width: 700px" alt="blog">
                                    </div>
                                    <p>Dizajni unik i Google Pixel 6 Pro, shtesat e shkëlqyera të softuerit, cilësia e shkëlqyer e kamerës dhe performanca 
                                        solide e gjithanshme i kanë dhënë tashmë telefonit një vlerësim të shkëlqyer në rishikimin tonë të plotë. 
                                        Me performancën që është po aq e mirë sa dizajni i tij, është telefoni më i mirë që Google ka bërë ndonjëherë.
                                        Kamera kryesore është në të njëjtin nivel me iPhone-ët më të mirë. Dhe me 899 dollarë për modelin bazë 128 GB,
                                        ai mposht rivalët e tij premium të telefonit në çmim.</p>
                                </div>
                            </div>
                            <div class="blog-details-content">
                                <p class="mb-80"></p>
                                <div class="place">
                                    <h3>4. Apple iPhone 13</h3>
                                    <div class="blog-details-img pt-50 pb-50">
                                        <img src="~/Client/assets/images/blog/iphone13.jpg" style="object-fit: contain; width: 700px" alt="blog">
                                    </div>
                                    <p>iPhone 13 standard është një zgjedhje e besueshme për shumicën e njerëzve, me një ekran 6.1 inç dhe dy kamera të 
                                        shkëlqyera të pasme. Për këtë model, Apple ka premtuar jetëgjatësi më të madhe të baterisë, kamera të përmirësuara 
                                        dhe qëndrueshmëri më të mirë se Apple iPhone 12. Çfarë ju mungon duke mos shkuar në Pro? Një kamerë e tretë e pasme 
                                        me zmadhim optik 3x dhe një ekran ProMotion me shpejtësi rifreskimi deri në 120 Hz për lëvizje më të shpejtë.</p>
                                </div>
                            </div>
                            <div class="blog-details-content">
                                <p class="mb-80"></p>
                                <div class="place">
                                    <h3>5. Samsung Galaxy Z Flip 3</h3>
                                    <div class="blog-details-img pt-50 pb-50">
                                        <img src="~/Client/assets/images/blog/samsungflip.jpg" style="object-fit: contain; width: 700px" alt="blog">
                                    </div>
                                    <p>Flip 3 është një shtesë e këndshme për telefonat inteligjentë të palueshem të Samsungit. 
                                        Kjo gjeneratë e tretë e telefonave inteligjentë me ekran të palueshem është një përmirësim 
                                        nga origjinali Z Flip. Është më i shkurtër, më i hollë dhe më i ngushtë, dhe është më lehtë 
                                        për palosjen dhe shpalosje. Ekrani ka një shpejtësi më të lartë rifreskimi (refresh rate) (120 Hz),
                                        duke e bërë lëvizjen dhe ndërveprimet e tjera më të mira.</p>
                                </div>
                            </div>
                            <div class="blog-details-content">
                                <p class="mb-80"></p>
                                <div class="place">
                                    <h3>Përfundimi</h3>
                                    <p>Kur zgjidhni një telefon, duhet të keni parasysh këto gjëra: cilësinë dhe dizajnin e ndërtimit, lehtësinë e përdorimit, veçoritë, performancën dhe vlerën.
                                       Blerja e një telefoni të natyrisht do t'ju japë vlerën më të mirë. 
                                       Nëse mundeni, dhe kamera është ajo që dëshironi, padyshim që iPhone 13 Pro është një zgjedhje
                                       e mirë po nëse ju pëlqejnë që telefoni juaj mobil të ketë më shumë features (funksione) 
                                       atëhera Samsung Galaxy S1 është një zgjedhje më e mirë por duke mos i mënjanuar telefonat 
                                       tjerë si Google Pixel, OnePlus, Xiaomi etj. </p>
                                </div>
                            </div>
                            <div class="blog-tag">
                                <ul>
                                    <li><a href="#">apple</a></li>
                                    <li><a href="#">samsung</a></li>
                                    <li><a href="#">technocy</a></li>
                                    <li><a href="#">smartphones</a></li>
                                    <li><a href="#">culture</a></li>
                                </ul>
                            </div>
                            <div class="blog-share">
                                <span>Shpërndaje:</span>
                                <ul>
                                    <li><a class="facebook" href="#"><i class=" ti-facebook"></i> 125</a></li>
                                    <li><a class="twitter" href="#"><i class=" ti-twitter-alt"></i> 502</a></li>
                                    <li><a class="google" href="#"><i class=" ti-google "></i> 25</a></li>
                                </ul>
                            </div>
                            <div class="blog-comment-area">
                                <h4>Komentet</h4>
                                <div class="blog-comment-wrap">
                                    <div class="single-blog-comment">
                                        <div class="blog-comment-img">
                                            <img src="~/Client/assets/images/blog/comment-3.png" alt="comment-img">
                                        </div>
                                        <div class="blog-comment-reply">
                                            <textarea placeholder="Komenti juaj..."></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>